*{
    box-sizing: border-box;
}

body{
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.container{
    height: 600px;
    width: 800px;
    background: url("images/background.png");
    background-color: dodgerblue;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border: 5px solid black;
    position: relative;
    overflow: hidden;
}

.duck{
    width: 68px;
    height: 65px;
    position: absolute;
}

.container input[type="radio"]{
    display: none;
}

label{
    display: block;
    height: 100%;
    width: 100%;
}

.duck input[type="radio"] + div label:before{
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    background: url("images/flying-duck.png") no-repeat 0 -4px;
    animation: flying-duck 0.8s steps(3) infinite;
    cursor: pointer;
}

.duck input[type="radio"]:checked + div label:before{
    content: "";
    background: url("images/dead-duck.png") no-repeat;
    animation: dying-duck 1s linear forwards;
}

.duck input[type="radio"]:checked + div{
    animation-play-state: paused;
}

.menu{
    height: 80px;
    width: 550px;
    background: black;
    border: 1px solid rgb(2, 153, 2);
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    padding: 25px 30px;
}

.score-marker{
    margin-right: 8px;
    height: 20px;
    width: 20px;
}

.score-marker input[type="radio"]:checked + label:before{
    content: "";
    background: url("images/alive-duck-small.png");
    height: 100%;
    width: 100%;
    display: block;
}

.score-marker input[type="radio"]:not(:checked)+label:before{
    content: "";
    background: url("images/dead-duck-small.png");
    height: 100%;
    width: 100%;
    display: block;
}


@keyframes flying-duck{
    from{
        background-position: -0px -4px;
    }
    to{
        background-position: -241px -4px;
    }
}

@keyframes dying-duck{
    to{
        opacity: 0;
        display: none;
        cursor: default;
    }
}

.first-duck{
    top: 0;
    left: -100px;
}

.second-duck{
    right: -80px;
    top: 50px;
}

.third-duck{
    bottom: 0;
    left: -80px;
}

.moving-duck{
    height: 100%;
    width: 100%;
}

.first-duck-moving-pattern{
    animation: first-duck-moving 5s linear forwards;
}

.second-duck-moving-pattern{
    animation: second-duck-moving 5s linear forwards;
    animation-delay: 6s;
}

.third-duck-moving-pattern{
    animation: third-duck-moving 5s linear forwards;
    animation-delay: 12s;
}

@keyframes first-duck-moving{
    0%{transform:translateX(0) translateY(0);}
    25%{transform:translateX(400px) translateY(88px);}
    50%{transform:translateX(100px) translateY(180px);}
    75%{transform:translateX(500px) translateY(400px);}
    100%{transform:translateX(1000px) translateY(400px);}
}

@keyframes second-duck-moving{
    0%{transform:translateX(0px) translateY(0px);}
    25%{transform:translateX(-440px) translateY(180px);}
    50%{transform:translateX(-200px) translateY(125px);}
    75%{transform:translateX(-200px) translateY(-50px);}
    100%{transform:translateX(-1000px) translateY(0px);}    
}

@keyframes third-duck-moving{
    0%{transform: translate(0,0);}
    25%{transform: translate(200px,-200px);}
    50%{transform: translate(300px,-300px);}
    75%{transform: translate(430px,-200px);}
    100%{transform: translate(1000px,-200px)}
}