body{
  margin:0px;
}
.App {
  display: flex;
  align-items:flex-start;
  align-content:flex-start;
  font-family: sans-serif;
}
  
.header {
  background-color: #3b9c00;
}

.header-title{
    color: #ffffff;
    padding: 15px;
    text-align: center;
    margin-top: 0;
}

.noticia{
      max-width: 60%;
}
.noticia--item{
  display: flex;
  height: 250px;
  position: relative;
  justify-content: flex-start;
  margin: 5px;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}


.noticia--imagem{
  margin: 0 16px 0 0;
}
.noticia--imagem__img {
  max-height: 250px;
}
.noticia--content{
    height: 250px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.noticia--content__categoria{
     color: #333;
     font-family: opensans,opensans-bastian,Arial,sans-serif;
     font-weight: bold;
  
}
.noticia--content__titulo{
  color: #3b9c00;
  font-weight: bold;
  font-size: 30px;
}
.noticia--content__descricao{
    font-weight: 400;
    color: #666;
    font-size: 20px;
}

.noticia--content__horario{
    color: #999;
    text-transform: uppercase;
    bottom: 0;
}	

.classificacao{
    width: 35%;
    border: 1px solid #ccc;
    height: auto;
}
.classificacao--header{
    background-color: #3b9c00;
    color:#ffffff;
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
    text-align: left;
}
.classificacao--second-header{
    background-color: #fafafa;
    padding: 20px;
    font-size: 25px;
    color: #333;
}
.classificacao-table{
    width: 100%;
    text-align: left;
}
.classificacao-table--th{
    color: #c8c8c8;
}
.classificacao--table__tr{
    border-top: 1px solid #e8e8e8;
    height: 35px;
}
.classificacao--table__time{
    font-weight: 300;
    padding-left: 12px;
    text-align: left;
    width: 60px;
    text-transform: uppercase;
}
.classificacao--table__pontos{
    color: #333;
    font-family: "opensans-light",Arial,sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 14px 0;
    width: 50px;
}