.form-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.createpost-form{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid silver;
    padding: 10px;
}

#text{
    resize: none;
}

.submit{
    margin-top: 10px;
}

.text-preview{
    height: 10em;
}