.home-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.home-container>*{
    margin: 10px;
}

.home-container-row{
    display: flex;
    flex-direction: row;
}

.home-container-row>*{
    margin: 10px;
}