.container{
    font-size: 0;
}

span{
    width:50%;
    height: 100px;
    background: red;
    display: inline-block;
    vertical-align: top;
    font-size: initial;
}

.azul{
    background: blue;
}