*{
    box-sizing: border-box;
}
body{
    filter: sepia(50%);
    margin-left: 20%;
    background-image: url("https://cdn.discordapp.com/attachments/361913998851178507/441806675242909696/vector-old-grunge-paper-texture-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Dancing Script', cursive;
}

.container{
    height: 100%;
    width: 75%;
}

header img{
    height: 130px;
    width: 100%;
}

.bloco-de-anuncio{
    float: left;
    height: 110px;
    width: 130px;
    /* top, right, bottom, left*/
    margin: 10px 10px 20px 0px;
}

.bloco-de-anuncio h1{
    font-size: 25px;
    margin: 0px;
}

.bloco-de-anuncio-premium{
    background-color: black;
    color: white;
    height: 110px;
    width: 200px;
    font-size: 18px;
    padding-top: 5px;
    padding-left: 10px;
    font-family: 'Do Hyeon', sans-serif;
}

.anuncios{
    font-size: 13px;
}

.bloco-de-noticias{
    border: 1px solid black;
    float: left;
    width: 100%;
    border-radius: 5%;
    margin-bottom: 10%;
}

.manchete{
    font-size: 100px;
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    /* top, right, bottom, left*/
    margin: 10px 5px 0px 0px;
}

.sub-titulo-manchete{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 20px;
    border-bottom: 2px solid black;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.manchete-secundaria{
    font-family: 'Bowlby One SC', cursive;
    font-size: 50px;
    margin-left: 20px;
}

.imagem-manchete{
    float: right;
    height: 200px;
    width: 350px;
    margin: 10px 10px 20px 0px;
}

.texto-noticia-continuo{
    column-count: 4;
    margin: 10px;
}

.texto-noticia{
    float: left;
    width: 20%;
    margin: 20px;
}

.bloco-noticia p:first-of-type::first-letter{
    content: "";
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    line-height: 30px;
    height: 40px;
    /* background: blue; */
}

.bloco-noticia p:nth-of-type(3), p:nth-of-type(4) {
    margin-top: -60px;
}

.separador-noticias{
    border-bottom: 2px solid black;
    margin: 10px;
}
