body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}

.app{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.herois-container{
  display:flex;
	flex-wrap:wrap;
	text-align:center;
  justify-content: center;
  padding: 0 20%;
  width: 810px;
}

.heroi{
  width: 50%;
}