@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto');

*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: url("../images/flags/jp.png");
    background-position: center;
    margin: 0;
}

.container{
    display: flex;
    width: 75%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

@keyframes content-entry{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.content{
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: content-entry 0.8s linear forwards;
    animation-delay: 1s;
}

.container-logo{
    width: 100%;
    text-align: center;
    animation: logo-rotation-entry 1s linear forwards
}

@keyframes logo-rotation-entry{
    0%{transform: rotate(360deg) scale(0);}
}

@keyframes image-blink{
    0%{filter: brightness(4);}
    50%{filter: brightness(1);}
    100%{filter: brightness(2);}
}

.logo{
    width: 25%;
    margin-top: 25px;
    animation: image-blink 1s linear;
    animation-delay: 1s;
}

.character-data{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60%;
    padding-left: 30%;
    padding-top: 30px;
    margin-bottom: 10px;
}

.character-main-image{
    width: 250px;/* para ficar show to note alterar pra 250px*/
    height: 75%;
}

.character-info{
    width: 100%;
    padding-top: 10%;
    font-family: 'Roboto', sans-serif;
}

.character-info span{
    color:white;
}

.character-name{
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    color:white;
    text-shadow: 7px 1px 0px rgba(0,0,0,0.75);
}

.character-info-label{
    display: inline-block;
    background: #ffde00;
    text-align: center;
    padding: 5px 8px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

.character-table{
    background: #959494;
    border: 2px solid #AAA9A9;
    height: 160px;
    width: 300px;
    margin-left: 50%;
    transform: translateX(-50%);
}