@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto');

*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
}

.container{
    display: flex;
    width: 75%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

@keyframes content-entry{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.content{
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: content-entry 0.8s linear forwards;
    animation-delay: 1s;
}

.container-logo{
    width: 100%;
    text-align: center;
    animation: logo-rotation-entry 1s linear forwards;
}

.image-blinking{
    animation: image-blink 1s linear;
}

@keyframes logo-rotation-entry{
    0%{transform: rotate(360deg) scale(0);}
}

@keyframes image-blink{
    0%{filter: brightness(3);}
    50%{filter: brightness(1);}
    100%{filter: brightness(2);}
}

.logo{
    width: 25%;
    margin-top: 25px;
    animation-delay: 1s;
}

.character-data{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60%;
    padding-top: 30px;
    margin-bottom: 10px;
}

@keyframes character-main-image-entry{
    25%{
        opacity: 0.5;
        transform: translateX(10px);
        filter: drop-shadow(15px 1px 0px rgba(255, 255, 255));
    }
    50%{
        opacity: 0.8; 
        transform: translateX(10px);
    }
    100%{
        opacity: 1; 
        transform: translateX(10px);
        filter: drop-shadow(8px 1px 0px rgba(0,0,0,0.75));
    }

}

.character-main-image-animation{
    animation: character-main-image-entry 1s linear forwards;
}

.character-main-image{
    width: 250px;
    height: 75%;
    filter: drop-shadow(8px 1px 0px rgba(0,0,0,0.75));
    opacity: 0;
    margin-left: 25%;
    margin-right: 2%;
    transform: translateX(-20px);
}

.character-info{
    width: 100%;
    padding-top: 5%;
    font-family: 'Roboto', sans-serif;
}

.character-info span{
    color:white;
}

.character-name{
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    color:white;
    text-shadow: 7px 1px 0px rgba(0,0,0,0.75);
}

.character-info-label{
    display: inline-block;
    background: #ffde00;
    text-align: center;
    padding: 5px 8px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

.character-table{
    background: #959494;
    border: 2px solid #AAA9A9;
    width: 354px;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
}

/* .character-table div{
    display: relative;
    margin: 0;
    padding: 0;
} */

.head-shot-image{
    position: relative;
    height: 80px;
    width: 70px;
    border: 1px solid #AAA9A9;
    margin: 0px;
    cursor: pointer;
    filter: grayscale(100%);
}

.head-shot-name{
    background: rgba(255, 0, 0, 0.575);
    width: 70px;
    font-size: 10px;
    text-align: center;
    position: absolute;
    color: white;
    bottom: 0;
}

.active-character{
    border: 1px solid #ffde00;
    filter: grayscale(0)
}

.secret-character{
    filter: brightness(0);
    cursor: default;
}

@keyframes secret-message-disappearing{
    to{
        opacity: 0;
    }
}

.secret-message{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0px;
    animation: secret-message-disappearing 2s linear forwards;
}